h1{
	text-align: center;
	font-size: 50px;
	font-family: 'Rock Salt', cursive;
	color: white;
  text-shadow: -3px 0 black, 0 4px black, 3px 0 black, 0 -3px black;
}
.dot {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: url(http://i.imgur.com/N4qszee.png) no-repeat;
}
body{
	text-align: center;
	background-color: #2980B9;
}
.button-xlarge {
  font-size: 125%;
  border-style: solid black;
}
table {
  margin: auto;
}
table tr td {
  height: 40px;
  width: 50px;
  padding: 10px;
  border: 2px solid white;
}
.black-background{
	background-color: black;
}
.silver-background{
	background-color: #BDC3C7;

}
.finish{
  background: url(http://i.imgur.com/KLhJY2t.jpg);
}
@media (max-width: 500px) {
      h1 {
        font-size: 24px;
      }
      table {
        display: block;
        padding: 10px;
      }
}